/* The <ul> tag defines an unordered (bulleted) list */
ul {
    /* Remove list bullets */
    list-style-type: none;

    /* The CSS margin properties are used to create space around elements, outside of any defined borders */
    margin: 0;
    
    /* The CSS padding properties are used to generate space around an element's content, inside of any defined borders. */
    padding: 20px;
    
    /* The overflow property specifies what should happen if content overflows an element's box. */
    overflow: hidden;
    
    /*  */
    background-color:black;
}
/* The <li> tag is used inside ordered lists(<ol>), unordered lists (<ul>), and in menu lists (<menu>). */
/* The <a> tag defines a hyperlink, which is used to link from one page to another. */
li a {
    /* The float property is used for positioning and formatting content e.g. let an image float left to the text in a container. */
    float: left;
    /* The display property specifies the display behavior (the type of rendering box) of an element. */
    display: block;
    
    /*  */
    color:yellow;
    
    /* The text-align property specifies the horizontal alignment of text in an element. */
    text-align: center;
    
    /* The CSS padding properties are used to generate space around an element's content, inside of any defined borders. */
    padding: 14px 16px;
    
    /* The text-decoration property specifies the decoration added to text */
    text-decoration: none;
    
    font-weight: bolder;

    margin-top: -19px;
    margin-bottom: -19px;
}
/* The :hover selector is used to select elements when you mouse over them. */
li a:hover {
    /*  */
    background-color:black;
}

li a .active {
    /*  */
    background-color: #666;
}
/* testimonial page */
body {
   background-image: url("old-brick-black-color-wall-260nw-1605128917.webp");
  
    background-repeat: no-repeat;
    background-size: cover;

}
/* flip cards code  */
h1 {
    text-align:center;
    color:yellow;
}
fieldset {
    float:center;
}
/* .card { */
     /* border-style: unset; */
    /* border-radius: 50px;
    border-width: 5px 20px; */
/* padding-bottom: 175px; */
/* padding-left: 75px; */
/* text-align: center; */
/* } */
/* dy { */
    /* font-family: Arial, Helvetica, sans-serif; */
    /* background-image: url(pngtree-modern-double-color-futuristic-neon-background-image_351866.jpg); */
  /* } */

  .flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    text-overflow: clip;
    font-family:cursive;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: #bbb;
    color:yellow;
    border-radius: 100px;
  }
  
  .flip-card-back {
    background-image: url(milky-way-2695569__480.jpg);
    transform: rotateY(180deg);
    border-radius: 50px;
  }
.container { 
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap:40px;
    margin-top: 40px;

}
/* img{ */
    /* border-radius: 50px; */
/* } */
h1{
    color:yellow
  
}
p{
    color:yellow;
    font-size:20px;
}
ol{
  text-align:center
}
.card{
  color:white
}
fieldset{
  
  width: 60px;
}
.fa-facebook {
  background: #3B5998;
  color: white;
  padding: 30px;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
  padding: 30px;
}
/* .fa- {
  background: green;
  color: white;
  padding: 30px;
} */
.fa-instagram {
  background: purple;
  color: white;
  padding: 30px;
}
.fa-google {
  background: red;
  color: white;
  padding: 30px;
}
/* media query code  */
body {
  background-image: url(old-brick-black-color-wall-260nw-1605128917.webp);
}

@media screen and (min-width: 480px) {
  body {
    background-image: url(old-brick-black-color-wall-260nw-1605128917.webp);
  }
}
/* .paragraph {
  float: left;
  text-align: center;
} */
.img {
  margin:0px;
  padding: 0px;
}
/* animation code  */
.typewriter h1,h2 {
  color:yellow;
  font-family: monospace;
  overflow: hidden; 
  white-space: nowrap;
  margin: 0 auto; 
  letter-spacing: .15em; 
  animation: 
    typing 3.5s steps(30, end),
    blink-caret .5s  infinite;
    padding-top: 50px;
  
}
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }
}

body {
  /* display: flex; */
  /* justify-content: center; */
  align-items: center;
  min-height: 100vh;
  background-color: black;
  color:yellow;

}
.muzieknootjes {
  display: block;
  margin: auto;
  position: relative;
  width: 50%;
  min-width: 300px;
  /* height: 150px; */
  border: 0px solid #000;
}

.noot-1,
.noot-2,
.noot-3,
.noot-4,
.noot-5,
.noot-6,
.noot-7 {
  position: absolute;
  /* display: flex; */
  /* justify-content: center ; */
  animation: notes 2s infinite linear;
  font-size: 100px;
  opacity: 0;
}

.noot-1 {
  top: 500px;
  /* bottom: -10px; */
  left:0 ;
  /* right:100px; */
  animation-delay: 0.5s;
}

.noot-2 {
  top: 550px;
  /* bottom: -20px; */
  left: 0;
  /* right: 150px; */
  animation-delay: 1s;
}

.noot-3 {
  top: 400px;
  /* bottom: -30px; */
  left: 0;
  /* right: 200px; */
  animation-delay: 1.5s;
}

.noot-4 {
  top:350px;
  /* bottom:-40px; */
  left: 0;
  /* right: 250px; */
  animation-delay: 2s;
}
.noot-5 {
  top: 500px;
  /* bottom: -50px; */
  left: 0;
  /* right: 300px; */
  animation-delay:2.5s
}
.noot-6 {
  top: 0px;
  /* bottom: -60px; */
  left: 0;
  /* right: 350px; */
  animation-delay:3s
}
.noot-7 {
  top:300px;
  /* bottom: -70px; */
  left: 0;
  /* right: 400px; */
  animation-delay:3.5s
}

@keyframes notes {
  0% {
    transform: scale(1) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: scale(1.5) translate(50%, -50%);
  }
  80% {
    opacity: 0;
    transform: scale(1.5) translate(100%, -100%);
  }
  100% {
    transform: scale(1.5) translate(100%, -100%);
    opacity: 0;
  }
}
/* timeline code  */
* {
  box-sizing: border-box;
}

body {
  background-color: black;
  font-family: Helvetica, sans-serif;
}

.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color:black;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

.containers {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

.containers::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: black;
  border: 4px solid #FF9F55;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

.left {
  left: 0;
}
.right {
  left: 50%;
}
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid black;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent black;
}
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid black;
  border-width: 10px 10px 10px 0;
  border-color: transparent black transparent transparent;
}
.right::after {
  left: -16px;
}
.content {
  padding: 20px 30px;
  background-color: black;
  position: relative;
  border-radius: 6px;
}
@media screen and (max-width: 600px) {
  .timeline::after {
  left: 31px;
  }
  .containers {
  width: 100%;
  padding-left: 70px;
  padding-right: 25px;
  }

  .container::before {
  left: 60px;
  border: medium solid black;
  border-width: 10px 10px 10px 0;
  border-color: transparent black transparent transparent;
  }
  .left::after, .right::after {
  left: 15px;
  }

  .right {
  left: 0%;
  }
}
