/* The <ul> tag defines an unordered (bulleted) list */
ul {
    /* Remove list bullets */
    list-style-type: none;

    /* The CSS margin properties are used to create space around elements, outside of any defined borders */
    margin: 0;
    
    /* The CSS padding properties are used to generate space around an element's content, inside of any defined borders. */
    padding: 20px;
    
    /* The overflow property specifies what should happen if content overflows an element's box. */
    overflow: hidden;
    
    /*  */
    background-color:green;
}
/* The <li> tag is used inside ordered lists(<ol>), unordered lists (<ul>), and in menu lists (<menu>). */
/* The <a> tag defines a hyperlink, which is used to link from one page to another. */
li a {
    /* The float property is used for positioning and formatting content e.g. let an image float left to the text in a container. */
    float: left;
    /* The display property specifies the display behavior (the type of rendering box) of an element. */
    display: block;
    
    /*  */
    color: white;
    
    /* The text-align property specifies the horizontal alignment of text in an element. */
    text-align: center;
    
    /* The CSS padding properties are used to generate space around an element's content, inside of any defined borders. */
    padding: 14px 16px;
    
    /* The text-decoration property specifies the decoration added to text */
    text-decoration: none;
    
    font-weight: bolder;

    margin-top: -19px;
    margin-bottom: -19px;
}
/* The :hover selector is used to select elements when you mouse over them. */
li a:hover {
    /*  */
    background-color: #333;
}

li a .active {
    /*  */
    background-color: #666;
}
body {
   background-image: url("back.jpeg");
  
    background-repeat: no-repeat;
    background-size: cover;

}

h1 {
    text-align:center;
    color: black;
}
fieldset {
    float:center;
}
.card {
     border-style: unset;
    border-radius: 50px;
    border-width: 5px 20px;
padding-bottom: 175px;
padding-left: 75px;
text-align: center;
}
